*{
    box-sizing: none;
    margin: 0;
    padding: 0;
}
.parent-div{
    background-color: #D1B48C;
    height: 700px;
    display: flex;
    justify-content: center;
}
.body-div{
    background-color: #39403F;
    border-style: solid;
    height: 300px;
    width: 200px;
    margin-top: 30px;
    border-radius: 10px;
}
.screen{
    width: 180px;
    height: 30px;
    margin: 20px 10px;
    background-color: #BCCD96;
} 
.button-parentdiv{
 margin:0 10px;
}
.one{
  width: 40px;
  height: 30px;
  border-radius: 8px;
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  background-color: #312F30;
  border-style: none;
  box-shadow: 0px 3px black;
}
.two{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    background-color: #312F30;
    border-style: none;
    box-shadow: 0px 3px black;
}
.three{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    background-color: #312F30;
    border-style: none;
    box-shadow: 0px 3px rgb(0, 0, 0);
}
.four{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #FF4864;
    border-style: none;
    box-shadow: 0px 3px rgb(0, 0, 0);
}
.five{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    background-color: #312F30;
    border-style: none;
    box-shadow: 0px 3px rgb(0, 0, 0);
}
.six{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    background-color: #312F30;
    border-style: none;
    box-shadow: 0px 3px rgb(0, 0, 0);
}
.seven{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    background-color: #312F30;
    border-style: none;
    box-shadow: 0px 3px rgb(0, 0, 0);
}
.eight{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #FF4864;
    border-style: none;
    box-shadow: 0px 3px rgb(0, 0, 0);
}
.nine{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    background-color: #312F30;
    border-style: none;
    box-shadow: 0px 3px rgb(0, 0, 0);
}
.zero{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    background-color: #312F30;
    border-style: none;
    box-shadow: 0px 3px rgb(0, 0, 0);color: white;
    background-color: #312F30;
    border-style: none;
    box-shadow: 0px 3px rgb(0, 0, 0);
}
.minus{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    background-color: #312F30;
    border-style: none;
    box-shadow: 0px 3px rgb(0, 0, 0);
}
.plus{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #FF4864;
    border-style: none;
    box-shadow: 0px 3px rgb(0, 0, 0);
}
.times{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    background-color: grey;
    border-style: none;
    box-shadow: 0px 3px rgb(0, 0, 0);
}
.c{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    background-color: #312F30;
    border-style: none;
    box-shadow: 0px 3px rgb(0, 0, 0);
}
.slash{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    background-color: #312F30;
    border-style: none;
    box-shadow: 0px 3px rgb(0, 0, 0);
}
.equals{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #FB9A37;
    border-style: none;
    box-shadow: 0px 3px rgb(0, 0, 0);
}